.navbar {
    opacity: 0.9;
}

.pad-top {
	padding-top: 205px;
	padding-bottom: 205px;
}

.bg-top {
    background: lightblue url("Images/Thailand.jpg") no-repeat fixed center;
    background-size: cover;
}

.txt-top {
    color: #ffffff
}

.txt-top a {
    color: #ffffff;
    font-size: 40px;
}

.pad-aboutMe {
	padding-top: 50px;
	padding-bottom: 50px;
}

.pad-education {
	padding-top: 50px;
	padding-bottom: 50px;
}

.pad-workExperience {
	padding-top: 50px;
	padding-bottom: 50px;
}

#workExperience h3, #projects h3 {
    margin-top: 90px;
}

.pad-projects {
	padding-top: 50px;
	padding-bottom: 50px;
}

.pad-skills {
	padding-top: 50px;
	padding-bottom: 50px;
}

.pad-visitorsLog {
	padding-top: 50px;
	padding-bottom: 50px;
}

.pad-contact {
	padding-top: 50px;
	padding-bottom: 50px;
}

.imageHover:hover {
	box-shadow: 0px 0px 20px 5px rgba(0,0,0, .2);
	transition: box-shadow 0.25s;
}

body {
	font-family: "Raleway", sans-serif;
}

h2 {
    text-align: center;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}